fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pymysql 
jinja2 
ultralytics
#insightface
faiss-cpu 
torch
torchvision
opencv-python-headless
numpy
pydantic_settings
pillow
passlib[bcrypt]
onnxruntime